<header>
<h1>
    What Up tho
</h1>
    <p><strong>This is a header</strong></p>
<h1>{{welcomeH1}}</h1>
   <a>{{welcomeMsg}}</p>
<p><a href="/">Home</a></p>
<p><a href="/about">About</a></p>
</header>